<!DOCTYPE html>
<html>
  <head>
    <title>Timeblocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>TIMEBLOCKS</h1>
    <h2>Create Clock!</h2>

    <span id="clock-create">
      <button id="clock-creator" type="button">create clock</button>
    </span>

    <ul id="clocks"></ul>

    <!-- Javascript -->
    <script type="text/javascript">
      //collection of clock DOM nodes to peruse
      let clocks = [];

      //setting up createClock button
      let clockCreateButton = document.getElementById('clock-creator');
      clockCreateButton.addEventListener('click', function() {
        let clocksUl = document.getElementById('clocks');
        let newClock = createClock();
        clocks.unshift(newClock);
        clocksUl.prepend(newClock.li);
      });

      //the tick, every 1000ms
      setInterval(function() {
        clocks.forEach(c => {
          p = c.li.getElementsByTagName('p')[0];
          c.time += 1000;
          p.textContent = renderTimeStr(c.time);
        })
      }, 1000);

      function createClock() {
        let clock = { time: Date.now(),
                      timeZone: 'Pacific',
                      clockType: false };

        let clockModButton = document.createElement('button');
        clockModButton.textContent = "modify clock";
        clockModButton.addEventListener('click', function() {
          modClockSpan.style.display = modClockSpan.style.display === 'none' ? '' : 'none';
        });
        //creates modification DOM group
        //<span class='modify'> ->
        let modClockSpan = document.createElement('span');
        let modClockP = document.createElement('p');

        //text content is only to text, will need some type of form
        //built by external function: modClock which can be used to
        //with clock time saved in DOM
        modClockSpan.style.display = 'none'
        modClockP.textContent = modifyClock();
        modClockSpan.classname = 'mod-clock';
        modClockSpan.appendChild(modClockP);

        //creates clock DOM group
        clock.li = document.createElement('li');
        let clockP = document.createElement('p');
        clock.li.className = 'clock';
        clockP.textContent = renderTimeStr(clock.time);

        //consolidates DOMelements
        clock.li.appendChild(clockP);
        clock.li.appendChild(clockModButton);
        clock.li.appendChild(modClockSpan);

        //sets up autoupdating clock
        //needs to be set up in property of clock object
        // setInterval(function() {
        //   clockP.textContent = renderTimeStr(new Date());
        // }, 1000);

        return clock;
      }

      function renderTimeStr(timeMs) {
        let dateTime = new Date(timeMs);
        let timeHr = dateTime.getHours();
        let timeMin = dateTime.getMinutes();
        let timeSec = dateTime.getSeconds();
        let clockStr = "[<< " + timeHr + " : " + timeMin + " : " + timeSec + " >>]";
        return clockStr;
      }

      function modifyClock() {
        return 'modify Clock';
      }

    </script>
    <%= yield %>
  </body>

</html>
