<!DOCTYPE html>
<html>
  <head>
    <title>Timeblocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <button id="hello" type="button">Say Hello!</button>
    <script type="text/javascript">
      document.getElementById('hello').onclick = function(e) {
        alert('Hello World!');
      }
    </script>
    <%= yield %>
  </body>

</html>
