<!DOCTYPE html>
<html>
  <head>
    <title>Timeblocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>TIMEBLOCKS</h1>
    <h2>Create Clock!</h2>

    <span id="clock-create">
      <button id="clock-creator" type="button">create clock</button>
    </span>

    <ul id="clocks"></ul>

    <!-- Javascript -->
    <script type="text/javascript">
      // document.getElementById('hello').onclick = function(e) {
      //   alert('Hello World! We\'re Making Clocks!');
      // };

      let clockCreator = document.getElementById('clock-creator');

      clockCreator.addEventListener('click', function() {
        let clocks = document.getElementById('clocks');
        let newClock = createClock();

        clocks.prepend(newClock);
      });

      function createClock() {
        let clockLi = document.createElement('li');
        let clockP = document.createElement('p');
        let rightNow = new Date();

        //create modification button to appear here
        let clockModButton = document.createElement('button');
        clockModButton.textContent = "modify clock"
        clockModButton.addEventListener('click', function() {
          alert('mod');
        });

        clockLi.className = 'clock';
        clockP.textContent = renderTimeStr(rightNow);
        clockLi.appendChild(clockP);
        clockLi.appendChild(clockModButton);

        setInterval(function() {
          clockP.textContent = renderTimeStr(new Date());
        }, 1000);

        return clockLi;
      }

      function renderTimeStr(dateTime) {
        let timeHr = dateTime.getHours();
        let timeMin = dateTime.getMinutes();
        let timeSec = dateTime.getSeconds();
        let clockStr = "[<< " + timeHr + " : " + timeMin + " : " + timeSec + " >>]";
        return clockStr;
      }

      function updateClock(clock) {
        console.log(clock);
      }

    </script>
    <%= yield %>
  </body>

</html>
