<!DOCTYPE html>
<html>
  <head>
    <title>Timeblocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>TIMEBLOCKS</h1>
    <h2>Create Clock!</h2>

    <span id="clock-create">
      <button id="clock-creator" type="button">create clock</button>
    </span>

    <ul id="clocks"></ul>

    <!-- Javascript -->
    <script type="text/javascript">
      // document.getElementById('hello').onclick = function(e) {
      //   alert('Hello World! We\'re Making Clocks!');
      // };

      let clockCreator = document.getElementById('clock-creator');

      clockCreator.addEventListener('click', function() {
        let clocks = document.getElementById('clocks');
        let newClock = createClock();

        clocks.prepend(newClock);
      });

      function createClock() {
        let rightNow = new Date();

        let clockModButton = document.createElement('button');
        clockModButton.textContent = "modify clock";
        clockModButton.addEventListener('click', function() {
          modClockSpan.style.display = modClockSpan.style.display === 'none' ? '' : 'none';
        });
        //creates modification DOM group
        //<span class='modify'> ->
        let modClockSpan = document.createElement('span');
        let modClockP = document.createElement('p');

        //text content is only to text, will need some type of form
        //built by external function: modClock which can be used to
        //with clock time saved in DOM
        modClockSpan.style.display = 'none'
        modClockP.textContent = modifyClock();
        modClockSpan.classname = 'mod-clock';
        modClockSpan.appendChild(modClockP);

        //creates clock DOM group
        let clockLi = document.createElement('li');
        let clockP = document.createElement('p');
        clockLi.className = 'clock';
        clockP.textContent = renderTimeStr(rightNow);

        //consolidates DOMelements
        clockLi.appendChild(clockP);
        clockLi.appendChild(clockModButton);
        clockLi.appendChild(modClockSpan);

        //sets up autoupdating clock
        //needs to be set up in property of clock object
        setInterval(function() {
          clockP.textContent = renderTimeStr(new Date());
        }, 1000);

        return clockLi;
      }

      function renderTimeStr(dateTime) {
        let timeHr = dateTime.getHours();
        let timeMin = dateTime.getMinutes();
        let timeSec = dateTime.getSeconds();
        let clockStr = "[<< " + timeHr + " : " + timeMin + " : " + timeSec + " >>]";
        return clockStr;
      }

      function modifyClock() {
        return 'modify Clock';
      }

    </script>
    <%= yield %>
  </body>

</html>
