<!DOCTYPE html>
<html>
  <head>
    <title>Timeblocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>TIMEBLOCKS</h1>
    <h2>Create Clock!</h2>

    <span id="clock-create">
      <button id="clock-creator" type="button">create clock</button>
    </span>

    <ul id="clocks"></ul>

    <script type="text/javascript">

      let clocks = [];
      let timeZonesUTCDiff = { Pacific: 8,
                               Mountain: 7,
                               Central: 6,
                               Eastern: 5 };
      let month = ["January", "February", "March", "April", "May",
                    "June", "July", "August", "September", "October",
                    "November", "December"];
      let day = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
                  "Saturday", "Sunday"];
      // console.log(timeZonesUTCDiff.keys());
      let clockCreateButton = document.getElementById('clock-creator');
      clockCreateButton.addEventListener('click', function() {
        let clocksUl = document.getElementById('clocks');
        let newClock = createClock();
        clocks.unshift(newClock);
        clocksUl.prepend(newClock.li);
      });

      setInterval(function() {
        clocks.forEach(c => {
          p = c.li.getElementsByTagName('p')[0];
          c.time += 1000;
          p.textContent = renderTimeStr(c.time);
        })
      }, 1000);

      function createClock() {
        let clock = { time: Date.now(),
                      timeZone: 'Pacific',
                      clockType: false };

        let changeTimeZoneButton = document.createElement('button');
        changeTimeZoneButton.textContent = ">";

        changeTimeZoneButton.addEventListener('click', function() {
          changeTimeZoneSpan.style.display = changeTimeZoneSpan.style.display === 'none' ? '' : 'none';
        });

        let changeTimeZoneSpan = document.createElement('span');
        let changeTimeZoneSelect = document.createElement('select');
        let timeZones = Object.keys(timeZonesUTCDiff);

        changeTimeZoneSelect.className = 'timezone'
        changeTimeZoneSelect.value = clock.timeZone;
        console.log("zone: " + changeTimeZoneSelect.value);
        timeZones.forEach(tZ => {
          let option = document.createElement('option');
          option.setAttribute('value', tZ);
          option.textContent = tZ;
          changeTimeZoneSelect.appendChild(option);
          console.log(tZ);
        });

        changeTimeZoneSelect.addEventListener("change", function() {
          console.log(this.value);
          clockPTimeZone.textContent = this.value;

          let dateTime = new Date(clock.time);
          let formerTz = clock.timeZone;
          let formerTzOffset = timeZonesUTCDiff[formerTz];
          let newTz = clockPTimeZone.textContent;
          let newTzOffset = timeZonesUTCDiff[newTz];
          let timeZoneOffset = formerTzOffset - newTzOffset;
          let timeZoneOffsetMs = timeZoneOffset * 1000 * 60 * 60;
          let newTime = clock.time + timeZoneOffsetMs;
          clock.time = newTime;
          clockPTime.textContent = renderTimeStr(clock.time);
          // console.log('former: ' + clock.timeZone);
          // console.log('now: ' + clockPTimeZone.textContent);
          clock.timeZone = clockPTimeZone.textContent;

        });

        changeTimeZoneSpan.style.display = 'none'
        changeTimeZoneSpan.classname = 'mod-timezone';
        changeTimeZoneSpan.appendChild(changeTimeZoneSelect);

        let clockPTime = document.createElement('p');
        let clockPDate = document.createElement('p');
        let clockPLocation = document.createElement('p');
        let clockPTimeZone = document.createElement('p');

        clockPTime.textContent = renderTimeStr(clock.time);
        clockPDate.textContent = renderDateStr(clock.time);
        clockPLocation.textContent = renderLocationStr(clock.time);
        clockPTimeZone.textContent = clock.timeZone;
        console.log(clock.timeZone);
        clock.li = document.createElement('li');
        clock.li.className = 'clock';

        clock.li.appendChild(clockPTime);
        clock.li.appendChild(clockPDate);
        clock.li.appendChild(clockPLocation);
        clock.li.appendChild(clockPTimeZone);
        clock.li.appendChild(changeTimeZoneButton);
        clock.li.appendChild(changeTimeZoneSpan);

        // clockPTimeZone.textContent = addEventListener("change", () => {
        //   let dateTime = new Date(clock.time);
        //   let formerTz = clock.timeZone;
        //   let formerTzOffset = timeZonesUTCDiff[formerTz];
        //   let newTz = clockPTimeZone.textContent;
        //   let newTzOffset = timeZonesUTCDiff[newTz];
        //   let timeZoneOffset = formerTzOffset - newTzOffset;
        //   let timeZoneOffsetMs = timeZoneOffset * 1000 * 60 * 60;
        //   let newTime = clock.time + timeZoneOffsetMs;
        //   clock.time = newTime;
        //   clockPTime.textContent = renderTimeStr(clock.time);
        //   // console.log('former: ' + clock.timeZone);
        //   // console.log('now: ' + clockPTimeZone.textContent);
        //   clock.timeZone = clockPTimeZone.textContent;
        //
        //
        // });


        return clock;
      }

      function renderTimeStr(timeMs) {
        let dateTime = new Date(timeMs);
        let hr = dateTime.getHours();
        let timeHr = hr === 12 ? 12 : (hr > 12 ? hr % 12 : hr);
        let timeMin = dateTime.getMinutes() < 10 ? '0' + dateTime.getMinutes() : dateTime.getMinutes();
        let timeSec = dateTime.getSeconds() < 10 ? '0' + dateTime.getSeconds() : dateTime.getSeconds();
        let period = hr < 12 ? "AM" : "PM";
        console.log(hr);
        let timeStr = "  " + timeHr + "  :  " + timeMin + "  :  " + timeSec + "  " + period;
        return timeStr;
      }

      function renderDateStr(timeMs) {
        let dateTime = new Date(timeMs);
        let dateMonth = month[dateTime.getMonth()];
        let dateDate = dateTime.getDate();
        let dateDay = day[dateTime.getDay()];
        let dateYear = dateTime.getFullYear();
        let dateStr = dateDay + ", " + dateMonth + "  " + dateDate + ", " + dateYear;
        return dateStr;
      }

      function renderLocationStr(timeMs) {
        return "San Francisco";
      }

      function modifyClock() {
        return 'modify Clock';
      }

    </script>
    <%= yield %>
  </body>

</html>
